    <div  class="navbar d-flex justify-content-between" id="navbarSupportedContent">

        <% if user_signed_in? %>
          <div class="icon link">
            <%= link_to user_actions_path, class: "nav-link" do %>
              <div class="d-flex justify-content-around"><i class="fa-solid fa-house"></i></i></div>
              <p>Home</p>
            <% end %>
          </div>
          <div class="icon link">
            <%= link_to about_path, class: "nav-link" do %>
              <div class="d-flex justify-content-around"><i class="fa-solid fa-ticket"></i></i></div>
              <p>About</p>
            <% end %>
          </div>
          <div class="icon link">
            <%= link_to "#", class: "nav-link" do %>
              <div class="d-flex justify-content-around"><i class="fa-solid fa-gear"></i></div>
              <p>Settings</p>
            <% end %>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

    </div>
