    <div  class="navbar d-flex justify-content-between" id="navbarSupportedContent">

        <% if user_signed_in? %>
          <div class="icon link icon-nav">
            <%= link_to dashboard_path, class: "nav-link" do %>
              <div class="d-flex justify-content-around"><i class="fa-solid fa-house"></i></i></div>
              <strong><p>Home</p></strong>
            <% end %>
          </div>
          <div class="icon link icon-nav">
            <%= link_to about_path, class: "nav-link" do %>
              <div class="d-flex justify-content-around"><i class="fa-solid fa-ticket"></i></i></div>
              <strong><p>About</p></strong>
            <% end %>
          </div>
          <div class="icon link icon-nav">
            <%= link_to history_path, class: "nav-link" do %>
              <div class="d-flex justify-content-around"><i class="fa-solid fa-book-open"></i></div>
              <strong><p>history</p></strong>
            <% end %>
          </div>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>

    </div>
