<div class="container">
  <h1 class="about-text my-5 ">Rules of the game</h1>
  <div class="mb-5 rank-div">
    <h2 class="about-text mb-5">Ranking</h2>
    <div class="d-flex mx-auto mb-4">
      <img src="" alt="">
      <p class="flex-grow">Gold rank for advanced</p>
    </div>
    <div class="d-flex mx-auto mb-4">
      <img src="../../assets/images/logo.png" alt="">
      <p class="flex-grow">Silver rank for intermediat</p>
    </div>
    <div class="d-flex mx-auto mb-4">
      <img src="app/assets/images/rank_badges/Badge_1_Bronze.webp" alt="">
      <p class="flex-grow">Bronze rank for beginner</p>
    </div>
  </div>

  <div>
    <h2 class="about-text mb-5" >Scoring System</h2>
    <p class="about-text pb-3" >To grind points to increase your score<br>you have to validate an action</p>

    <p class="about-text pb-3" >When an action is validate you score 7 points</p>
    <p class="about-text" >first stage = [0-20]</p>
    <p class="about-text" >second stage = [20-60]</p>
    <p class="about-text" >third stage = [60-120]</p>
  </div>
</div>

../../assets/images/rank_badges/Badge_1_Bronze.webp
