


<!-- card dash board-->
<div class="card-category-card col-7">
  <img src="https://picsum.photos/500/400" alt="">
  <div class="card-bar-separator mb-1"></div>
  <div class="container">
    <h1><strong>Get your bike</strong></h1> <!-- user_action title-->
    <h4 style="color: rgb(216, 176, 77);">? times / week</h4><!-- action occurences-->
    <strong><p class=" mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae !</p></strong>
    <p class="mb-2 ml-3" style="color: rgb(102, 102, 102);">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae!</p>
    <div class="card-category-footer d-flex justify-content-between">

      <div class="d-flex justify-content-evenly align-items-center card-category-co2">
        <i class="fa-solid fa-leaf"></i>
        <p class="">0kg/ CO2</p>
      </div>
      <div class="card-category-level d-flex justify-content-around align-items-center ">
        <p >Beginner</p>
      </div>
    </div>

  </div>
  <div class="icon-container d-flex justify-content-around align-items-center ">
    <i class="fa-solid fa-plane"></i>
  </div>
</div>


<hr class="my-4">


<!-- card add action (large)-->
<div class="card-category-card col-10">
  <img src="https://picsum.photos/500/400" alt="">
  <div class="card-bar-separator mb-1"></div>
  <div class="container">
    <h1><strong>Get your bike</strong></h1> <!-- user_action title-->
    <h4 style="color: rgb(216, 176, 77);" class="mb-3">? times / week</h4><!-- action occurences-->
    <strong><p class=" mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae !</p></strong>
    <p class="mb-4 ml-3" style="color: rgb(102, 102, 102);">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae!</p>
    <div class="card-category-footer d-flex justify-content-between">

      <div class="d-flex justify-content-evenly align-items-center card-category-co2">
        <i class="fa-solid fa-leaf"></i>
        <p class="">0kg/ CO2</p>
      </div>
      <div class="card-category-level d-flex justify-content-around align-items-center ">
        <p >Beginner</p>
      </div>
    </div>

  </div>
  <div class="icon-container d-flex justify-content-around align-items-center ">
    <i class="fa-solid fa-plane"></i>
  </div>
</div>

<hr class="my-4">


<!-- card action detail (show)-->
<div class="action-show-card mx-auto position-relative">
  <div class="d-flex col-12 justify-content-between mt-3 mb-5">
    <div class="show-icon-container d-flex justify-content-around align-items-center ">
        <i class="fa-solid fa-plane"></i>
      </div>
      <div class="d-flex col-7 justify-content-between">
        <div class="d-flex justify-content-evenly align-items-center card-show-co2">
          <i class="fa-solid fa-leaf"></i>
          <p class="">0kg/ CO2</p>
        </div>
        <div class="col-5">
          <div class="card-show-level d-flex justify-content-around align-items-center mb-2">
            <p >Beginner</p>
          </div>
          <p style="font-size: smaller; text-align: end;">Score: '7'</p>
        </div>
      </div>
  </div>
  <h1><strong>Get your bike</strong></h1> <!-- user_action title-->
  <h4 style="color: rgb(216, 176, 77);" class="mb-3">? times / week</h4><!-- action occurences-->
  <strong><p class=" mb-1" style="color: balck;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae !</p></strong>
  <p class="mb-4 ml-3" style="color: rgb(102, 102, 102);">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae!</p>
  <a href="#" class="col-10 btn btn-done">Done</a>
</div>

<!-- button down of page : "done", "select category", "back to dashboard"-->
<a href="#" class="col-10 btn btn-done" style="position: unset">Done</a><!-- need to change the positioning custom ( actual= position: unset )-->


<!-- Button (Landing)-->
<%= link_to "Start now", "#", class: "btn btn-gradient" %>


<%# transport %>
<div class="ko-progress-circle" data-progress="90">
    <div class="ko-circle">
        <div class="full ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
        </div>
        <div class="ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
            <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
        </div>
    </div>
    <div class="transport-progress-circle__overlay">
      <i class="fa-solid fa-plane fa-2x circle-icon"></i>
    </div>
</div>


<%# food %>
<div class="ko-progress-circle" data-progress="90">
    <div class="ko-circle">
        <div class="full ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
        </div>
        <div class="ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
            <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
        </div>
    </div>
    <div class="food-progress-circle__overlay">
      <i class="fa-solid fa-carrot fa-2x circle-icon"></i>
    </div>
</div>

<%# digital %>
<div class="ko-progress-circle" data-progress="90">
    <div class="ko-circle">
        <div class="full ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
        </div>
        <div class="ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
            <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
        </div>
    </div>
    <div class="digital-progress-circle__overlay">
      <i class="fa-solid fa-computer fa-2x circle-icon"></i>
    </div>
</div>

<%# household %>
<div class="ko-progress-circle" data-progress="90">
    <div class="ko-circle">
        <div class="full ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
        </div>
        <div class="ko-progress-circle__slice">
            <div class="ko-progress-circle__fill"></div>
            <div class="ko-progress-circle__fill ko-progress-circle__bar"></div>
        </div>
    </div>
    <div class="household-progress-circle__overlay">
      <i class="fa-solid fa-house fa-2x circle-icon"></i>
    </div>
</div>
