<!-- card dash board-->
<div class="card-category-card col-7">
  <img src="https://picsum.photos/500/400" alt="">
  <div class="card-bar-separator mb-1"></div>
  <div class="container">
    <h1><strong>Get your bike</strong></h1> <!-- user_action title-->
    <h4 style="color: rgb(216, 176, 77);">? times / week</h4><!-- action occurences-->
    <strong><p class=" mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae !</p></strong>
    <p class="mb-2 ml-3" style="color: rgb(102, 102, 102);">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae!</p>
    <div class="card-category-footer d-flex justify-content-between">

      <div class="d-flex justify-content-evenly card-category-co2">
        <i class="fa-solid fa-leaf"></i>
        <p class="">0kg/ CO2</p>
      </div>
      <div class="card-category-level d-flex justify-content-around ">
        <p >Beginner</p>
      </div>
    </div>

  </div>
  <div class="icon-container d-flex justify-content-around align-items-center ">
    <i class="fa-solid fa-plane"></i>
  </div>
</div>


<hr class="my-4">


<!-- card add action (large)-->
<div class="card-category-card col-10">
  <img src="https://picsum.photos/500/400" alt="">
  <div class="card-bar-separator mb-1"></div>
  <div class="container">
    <h1><strong>Get your bike</strong></h1> <!-- user_action title-->
    <h4 style="color: rgb(216, 176, 77);" class="mb-3">? times / week</h4><!-- action occurences-->
    <strong><p class=" mb-1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae !</p></strong>
    <p class="mb-4 ml-3" style="color: rgb(102, 102, 102);">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi, eveniet vitae!</p>
    <div class="card-category-footer d-flex justify-content-between">

      <div class="d-flex justify-content-evenly card-category-co2">
        <i class="fa-solid fa-leaf"></i>
        <p class="">0kg/ CO2</p>
      </div>
      <div class="card-category-level d-flex justify-content-around ">
        <p >Beginner</p>
      </div>
    </div>

  </div>
  <div class="icon-container d-flex justify-content-around align-items-center ">
    <i class="fa-solid fa-plane"></i>
  </div>
</div>

<hr class="my-4">


<!-- card action detail (show)-->
<div class="container">
  <d-flex>
    <div class="detail-icon-card">
      <div class="icon-container d-flex justify-content-around align-items-center ">
        <i class="fa-solid fa-plane"></i>
      </div>
    </div>
  </d-flex>
</div>
