
<h1>Fuckhoomans</h1>
<p>Evaluate your carbon impact, discover relevant alternative consumption methods related to your profile,
take actions that allow you to reduce your carbon footprint <strong>decrease your carbon footprint</strong>.</p>
