
<div id="home">
   <p class="slogan" ><strong><small>Start action on your carbon footprint today</small></strong></p>

  <%# IMG %>
  <img class="Landing-picture" src="https://velo.smartidf.services/assets/img/hero-bg-velo.svg">

  <%# DESC %>
  <div class="home-desc">
    <p>Evaluate your carbon impact, discover relevant alternative consumption methods related to your profile,
    take actions that allow you to reduce your carbon footprint <strong>decrease your carbon footprint</strong>.</p>
    </div>
  </div>

  <%# BTN %>
  <%= link_to "Let's start the adventure ", user_actions_path, class: "btn btn-gradient" %>
</div>
