.btn-gradient {
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  font-weight: bold;
  transition: background 0.3s ease;
  border: 1px solid #118C7E;
  background: linear-gradient(#118C7E, #118C7E);
  color: white;
  position: absolute;
  bottom: 140px;
  right: 80px;
}
