.icon-wrapper {
  margin: auto;

  a {
    width: 45px;
    height: 45px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: black
  }

  .circle-icon {
    color: white;
  }

  .icon-travel {
    background: #D8B04D;
    transform: rotate(315deg);
  }

  .icon-food {
    background: #A4C663;
  }

  .icon-tech {
    background: #7D9CB7;
  }

  .icon-home {
    background: #BD6048;
  }
}

.card-icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 39%;
  right: 2%;
  background: #A4C663;

}
