.icon-wrapper {
  margin: auto;

  a {
    width: 45px;
    height: 45px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: black
  }

  .circle-icon {
    color: white;
  }

  .icon-travel {
    background: #D8B04D;
    transform: rotate(315deg);
  }

  .icon-food {
    background: #A4C663;
  }

  .icon-tech {
    background: #7D9CB7;
  }

  .icon-home {
    background: #BD6048;
  }
}

.icon-wrapper-idx {
  margin: auto;
  height: 60px;

  a {
    width: 45px;
    height: 45px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: black
  }

  .circle-icon {
    color: white;
  }

  .icon-travel {
    background: #D8B04D;
    transform: rotate(315deg);
  }

  .icon-food {
    background: #A4C663;
  }

  .icon-tech {
    background: #7D9CB7;
  }

  .icon-home {
    background: #BD6048;
  }
}

.active-icon-wrapper-idx {
  margin: auto;

  .fa-solid {
    width: 55px;
    height: 55px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    color: black
  }

  .circle-icon {
    color: white;
  }

  .icon-travel {
    border-color: #D8B04D;
    border: solid 2px;
    color:  #D8B04D;
    background: white;
    transform: rotate(315deg);
  }

  .icon-food {
    border-color: #A4C663;
    border: solid 2px;
    color:  #A4C663;
    background: white;
  }

  .icon-tech {
    border-color: #7D9CB7;
    border: solid 2px;
    color:  #7D9CB7;
    background: white;
  }

  .icon-home {
    border-color: #BD6048;
    border: solid 2px;
    color:  #BD6048;
    background: white;
  }
}




.card-icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 83%;
  right: 1.5%;
  z-index: 10;
}

.card-icon-carousel {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 87px;
  right: 1.5%;
  z-index: 10;
}

.card-icon-index-user-actions {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  right: 1.5%;
  z-index: 10;
}

.dashboard-level-icon {
  border-radius: 50%;
  z-index: 1000;
  position: absolute;
  top: 80%;
  right: 2%;
}
