$progress-bar-stroke-width: 3.25;
$progress-bar-progress-stroke-width: 3.27;
$progress-bar-size: 80px;

.c-progress-container {
    position: relative;
    width: $progress-bar-size;
    margin: 0 auto;
}

// SVG circle shape
.c-progress-circle {
    width: $progress-bar-size;
    height: $progress-bar-size;
    transform: rotate(-90deg);
}

// circle background
.c-progress-bar__background {
    fill: none;
    stroke: black;
    stroke-width: $progress-bar-stroke-width;
}

// circle progression
.c-progress-bar__progress {
    fill: none;
    stroke: orange;
    stroke-dasharray: 100 100;
    stroke-linecap: square;
    stroke-width: $progress-bar-progress-stroke-width;
    transition: stroke-dashoffset .75s ease-in-out;
}
