#home {
  padding: 0 2rem;

  img {
    width: 100%;
    margin-top: 4rem;
  }

  .home-desc {
    margin-top: 25px;
    text-align: center;
    margin-top: 4rem;
  }


}

.slogan {
  text-align: center;
  font-size: 13px;
}
