#navbarSupportedContent {
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  padding: 9px 20px 10px 20px;
  background-color: #ffffff;

  z-index: 1000;
  i {
    font-size: 20px;
    text-align: center;

  }
}

.icon-link {
  text-align: center;

}

.icon-nav {
  color: #818181fa;
}
