// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-color: rgba(221, 243, 240, 0.855) !important;
}

a {
  text-decoration: none !important;
  text-transform: none !important;
  color: black !important;
}

a:hover{
  text-decoration: none;
  text-transform: none;
  color: black;
}
