// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: rgb(221, 243, 240)
}

a {
  text-decoration: none;
  text-transform: none;
}
